#korero-channel .overlay {
	background-color: #fafafa;
	opacity: 0.9;
	border: 1px #666 solid;
	
	-moz-box-shadow: 2px 2px 11px #666;
	-webkit-box-shadow: 2px 2px 11px #666;
}

#content .content {
	width: 100%;
}

.korero-messagebox-no-error {
    border: 2px solid #fafafa;
    margin-bottom: 1em;
    padding: 0.8em;
}
